################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/simple-directx9/x64
/packages
/x64
/SSAO_Study1/.vs/simple-directx9
/SSAO_Study1/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/SSAO_Study1/simple-directx9/x64/Debug
/SSAO_Study1/x64/Debug
/SSAO_Study2/.vs/SSAO_Study2
/SSAO_Study2/SSAO_Study2/simple-directx9.vcxproj.user
/SSAO_Study2/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/SSAO_Study2/SSAO_Study2/x64/Debug
/SSAO_Study2/x64/Debug/simple.cso
/SSAO_Study2/x64/Debug
/SSAO_Study3/.vs/MultiPassRendering
/SSAO_Study3/MultiPassRendering/x64/Debug
/SSAO_Study3/packages/Microsoft.DXSDK.D3DX.9.29.952.8
/SSAO_Study3/x64/Debug
